.layout {
  max-width: 108rem;
  margin: auto;
  display: flex;
}

.page-content {
  max-width: 68rem;
  margin: 3rem auto auto;
}

.site-header {
  position: sticky;
  width: 35rem;
  padding: 3rem;
  top: 0;
  height: 100vh;
}
